<h1 class="my-4">Edit Post</h1>
<%# https://stackoverflow.com/questions/70400958/error-form-responses-must-redirect-to-another-location %>
<%= form_for :post, url: post_path(@post), method: :patch, data: { turbo: false } do |f| %>
    <% if @post.errors.any? %>
        <% @post.errors.messages[:title].each do |msg| %>
            <div class="alert alert-danger" role="alert">Title <%= msg %></div>
        <% end %>
    <% end %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
    </p>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area :body, class: "form-control" %>
    </p>
    <p>
        <%= f.submit(class: "btn btn-primary") %>
    </p>
<% end %>